<!DOCTYPE html>
<html>
    <head>
    <title>Kamen, nůžky, papír</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/custom.css">
     
    </head>
<body>

<h1 class="nadpis">Kámen nůžky papír</h1>


<h3 class="odsebe">Hrac</h3> <h3 class="odsebe2">Počítač</h3>



    <p class="uprostred">
        <img class="obr" src="/static/pics/{{ hrac }}.png">
    
        <img class="obr" src="/static/pics/{{ pocitac }}.png">
    </p>
    <div class="vyhra">{{vyhra}}</div>


<div class="znovu"><a class="znovaV" href="/"> hodit znovu</a></div>
</div>

</body>
</html>