<!DOCTYPE html>
<html>
    <head>
     <title>Kamen, nůžky, papír - vyber</title>    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/custom.css">

    </head>
<body>

<h1 class="nadpis">Veber si kámen, nůžky nebo papír</h1>

<center>

    <div class="uvodni">
        
        <a href="/kamen" ><img src="static/pics/Kámen.png"></a>
        <a href="/nuzky" ><img src="static/pics/Nůžky.png"></a>
        <a href="/papir" ><img src="static/pics/Papír.png"></a>
        
    </div>

</center>
</body>
</html>